In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
#See: https://osf.io/nbuxg/ for the file, but feel free to just check out the preprocessed data
raw_data = "MasterAffectWithEventPresence.2019.csv"
raw_data_tab = pd.read_csv(raw_data)

In [7]:
raw_data_tab = raw_data_tab.rename(columns = {raw_data_tab.columns[4]:"Affect_Rating_o", raw_data_tab.columns[12]:"Affect_Rating_1", 
                                       raw_data_tab.columns[25]:"Affect_Rating_2", raw_data_tab.columns[39]:"Affect_Rating_3"})

In [10]:
newdata = {"Story_ID": [], "Emotion_Category": [], "Rating_o": [],
       "Rating_1": [], "Rating_2": [],
       "Rating_3": []}

In [12]:
for i in raw_data_tab.index:
        if np.char.isnumeric(str(raw_data_tab.loc[i,"Number"])):
            newdata["Story_ID"].append(raw_data_tab.loc[i,"Original StoryID"])
            newdata["Emotion_Category"].append(raw_data_tab.loc[i,"Affect"].lower())
            newdata["Rating_o"].append(raw_data_tab.loc[i, "Affect_Rating_o"])
            newdata["Rating_1"].append(raw_data_tab.loc[i, "Affect_Rating_1"])
            newdata["Rating_2"].append(raw_data_tab.loc[i, "Affect_Rating_2"])
            newdata["Rating_3"].append(raw_data_tab.loc[i, "Affect_Rating_3"])

In [13]:
newdata_tab = pd.DataFrame(newdata)

In [14]:
newdata_tab

          Story_ID Emotion_Category  Rating_o  Rating_1  Rating_2  Rating_3
0     Arnold A 0.0          disgust   0.42069  3.620000  0.150000  0.500000
1     Arnold A 0.0          disgust   0.42069  3.620000  2.033333  1.850000
2     Arnold A 0.0          disgust   0.42069  3.620000  1.750000  4.150000
3     Arnold A 0.0          disgust   0.42069  0.175000  0.700000  0.000000
4     Arnold A 0.0          disgust   0.42069  0.175000  1.100000  0.600000
...            ...              ...       ...       ...       ...       ...
8571   Jonny I 0.0          sadness   2.98750  1.216667  3.466667  2.450000
8572   Jonny I 0.0          sadness   2.98750  1.216667  3.466667  2.716667
8573   Jonny I 0.0          sadness   2.98750  1.216667  0.633333  1.983333
8574   Jonny I 0.0          sadness   2.98750  1.216667  2.725000  0.633333
8575   Jonny I 0.0          sadness   2.98750  1.216667  2.725000  1.250000

[8576 rows x 6 columns]

In [16]:
newdata_tab = newdata_tab[np.isnan(newdata_tab["Rating_o"]) == False]

In [18]:
newdata_tab

          Story_ID Emotion_Category  Rating_o  Rating_1  Rating_2  Rating_3
0     Arnold A 0.0          disgust   0.42069  3.620000  0.150000  0.500000
1     Arnold A 0.0          disgust   0.42069  3.620000  2.033333  1.850000
2     Arnold A 0.0          disgust   0.42069  3.620000  1.750000  4.150000
3     Arnold A 0.0          disgust   0.42069  0.175000  0.700000  0.000000
4     Arnold A 0.0          disgust   0.42069  0.175000  1.100000  0.600000
...            ...              ...       ...       ...       ...       ...
8571   Jonny I 0.0          sadness   2.98750  1.216667  3.466667  2.450000
8572   Jonny I 0.0          sadness   2.98750  1.216667  3.466667  2.716667
8573   Jonny I 0.0          sadness   2.98750  1.216667  0.633333  1.983333
8574   Jonny I 0.0          sadness   2.98750  1.216667  2.725000  0.633333
8575   Jonny I 0.0          sadness   2.98750  1.216667  2.725000  1.250000

[8491 rows x 6 columns]

In [20]:
newdata_tab.to_csv("perstory_perretell_training_data.csv")